nav {
	height: $navMobileHeight;
	background: linear-gradient(90deg, #26c8fb 0%, #8326fb 100%);

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

@media only screen and (min-width: 1000px) {
	nav {
		height: 4rem;
	}
}
