nav {
	height: $navMobileHeight;
	background: linear-gradient(90deg, #26c8fb 0%, #8326fb 100%);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

@media only screen and (min-width: 1000px) {
	nav {
		height: 4rem;
		box-shadow: none;
	}
}
